# dependencies
node_modules/

# environment variables
.env
.env.*

# build files
client/dist
dist
build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/